#container {
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    overflow: hidden;
    
  }
  #menu {
    display: flex;
    text-align: left;
    justify-content: space-around;
    padding: 1rem 0;
    background-color: #5f5f5f;
    display: block;

}

a:link { text-decoration: none; }

.menu-list img{
    width: 70px;
    height: 60px;
    margin-right: 10px;

}

#logo {
    width: 300px;
    height: 100px;
    margin-left: 10px;
}

.menu-list a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 0.5rem;
}

.image-container {
    display: inline-block;
    position: relative;
}

.image-text {
    display: none;
    position: bottom;
    bottom: -20px; /* Adjust this value to position the text under the image */
    left: 0;
    width: 100%;
    text-align: center;
    
}

* {
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
  font-family: "Source Sans Pro", "Poppins", sans-serif;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #333;
    line-height: 1.6;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1.5em;
}

.menu {
  font-family: sans-serif;
  font-size: 14px;
}

.menu-group-heading {
  margin: 0;
  padding-bottom: 1em;
  border-bottom: 2px solid #ccc;
}

.menu-group {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5em;
  padding: 1.5em 0;
}

.menu-item {
  display: flex;
}

.menu-item-img {
  width: 80px;
  height: 80px;
  flex-shrink: 0;
  object-fit: cover;
  margin-right: 1.5em;
}

.menu-item-text {
  flex-grow: 1;
}

.menu-item-heading {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.menu-item-name {
  margin-right: 1.5em;
}

.menu-item-desc {
  line-height: 1.6;
}

@media screen and (min-width: 992px) {
  .menu {
    font-size: 16px;
  }

  .menu-group {
    grid-template-columns: repeat(2, 1fr);
  }

  .menu-item-img {
    width: 125px;
    height: 125px;
  }
}

p {
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.7rem;
    color: #333;
    margin-bottom: 1.5rem;
}